@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService localstorage

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://th.bing.com/th/id/R.f40078afbfd56a9a92b65f338552b944?rik=KgEl2YJk4yXo3A&pid=ImgRaw&r=0" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <!-- ... -->
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="/">
                Home
            </NavLink>

            <NavLink class="navbar-item" href="/doc">
                Documentation
            </NavLink>


            <!-- ... -->
        </div>
        
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="button is-danger" @onclick="logout">
                                <strong>Logout</strong>
                            </NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="button is-primary" href="/RegisterUser">
                                <Strong>Sign Up</Strong>
                            </NavLink>
                            <NavLink href="/Log" class="button is-info"><Strong>Login</Strong></NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</nav>


@code{
    private async Task logout()
    {
        await localstorage.RemoveItemAsync("authToken");
        await authStateProvider.GetAuthenticationStateAsync();
        navigationManager.NavigateTo("");
    }
}