.navbar {
    color: white;
    background-color: #007bff;
}

.nav-head {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    width: 10rem;
}

Navlink {
    margin-left: 2px;
}


.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.user-login {
    display: flex;
    align-items: center;
}

    .user-login span {
        margin-right: 10px;
    }
