@using WriterFrontEnd.Models.Comments;
@inject ICommentInterface commentInterface
@inject IPostInterface postInterface
@inject NavigationManager navManager



 <div class="comment card mb-3">
    <div class="card-body">
            <p class="card-text">@comment.Body</p>
                  
                  

    </div>             
</div>
           
      






            
@code {

    [Parameter]
    public Comment? comment { get; set; }
    


   


   
    
   
    

}
