@page "/RegisterUser"

@inject IAuthentInterface authInterface
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

<section class="section">
	<div class="columns is-centered is-5">
		<div class="column">
            <h3>RegisterUser</h3>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" @bind-value="@newUser.UserName" type="text" placeholder="Name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            @*Email*@
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input is-success" type="email" placeholder="Email" @bind-value="@newUser.Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            @*phonenumber*@
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Phone Number</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="number" @bind-value="@newUser.PhoneNumber" placeholder="0712345678">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">

                    <label class="label">Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded has-icons-left">
                            <input class="input is-success" type="password" @bind-value="@newUser.Password" placeholder="**********">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        @*<p class="help is-danger">
                        This field is required
                        </p>*@
                    </div>
                </div>
            </div>
            

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" @onclick="RegisterU">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="pl-6" href="/Log">Login Instead</a>
		</div>
	</div>
</section>

@code {
    private RegistrationDto newUser = new RegistrationDto();

    private async Task RegisterU()
    {
        var res = await authInterface.RegisterNewUser(newUser);
        //await JSRuntime.InvokeVoidAsync()
        Console.WriteLine(res.IsSuccess);
        //navigationManager.NavigateTo("");
    }
}
